.contact-main-container {
  background: linear-gradient(
    130deg,
    rgb(35, 56, 40),
    rgb(50, 35, 61),
    rgb(56, 69, 93)
  );

  width: 100%;
  height: auto;
}
.contact-main-details-container {
  width: 100%;
  height: 100%;
}

.contact-main-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.contact-headset {
  font-size: 30px;
  margin-right: 5px;
  color: white;
}
.contact-headset-text {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact-headset-text-span {
  color: rgb(212, 255, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contacts-main-container {
  width: 100%;
  height: auto;
  background: linear-gradient(
    130deg,
    rgb(35, 56, 40),
    rgb(50, 35, 61),
    rgb(56, 69, 93)
  );

  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-main-container-box {
  width: 70%;
  background: linear-gradient(
    230deg,
    rgb(36, 129, 58),
    rgb(82, 49, 105),
    rgb(54, 71, 103)
  );

  height: 70%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.contact-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.rotate-border {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border-left: 5px solid blueviolet;
  border-top: 5px solid red;
  border-bottom: 5px solid rgb(255, 0, 217);
  border-right: 5px solid rgb(208, 255, 0);
  transform: 0.5s;
  animation: rotate 4s linear infinite;
  position: absolute;
}
.rotate-box-border {
  position: absolute;
  width: 70%;
  height: 20%;
  border-left: 5px solid blueviolet;
  border-right: 5px solid rgb(0, 255, 0);
  transform: 0.5s;
  animation: rotateside 8s infinite;
}
.contacts-main-container-box-left {
  height: 100%;
  width: 50%;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-main-container-box-right {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
  width: 50%;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-main-container-box-search {
  width: 80%;
  height: 90%;
}
.input-container {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: linear-gradient(
    230deg,
    rgb(35, 56, 40),
    rgb(50, 35, 61),
    rgb(56, 69, 93)
  );

  border: 1px solid rgb(148, 148, 148);
}
.user-icon {
  height: 100%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 255, 47);
}
#name,
#email,
#phone {
  padding: 10px;
  width: 85%;
  height: 20px;
  outline: none;
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.message-input-container {
  width: 100%;
  height: auto;
  display: flex;

  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: linear-gradient(
    230deg,
    rgb(35, 56, 40),
    rgb(50, 35, 61),
    rgb(56, 69, 93)
  );
  border: 1px solid rgb(148, 148, 148);
}
.user-message-icon {
  width: 40px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: rgb(0, 255, 47);
}
#textarea-box {
  background: none;
  margin-top: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.input-container-button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#submit {
  padding: 10px;
  border: none;
  background-color: rgb(2, 194, 50);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 110px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateside {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 1250px) {
  .contacts-main-container-box {
    width: 80%;
  }
  .contact-image,
  .rotate-border {
    width: 300px;
    height: 300px;
  }
  .user-icon {
    width: 40px;
  }
  .user-message-icon {
    width: 60px;
  }
}
@media (max-width: 1000px) {
  .contacts-main-container-box {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .contacts-main-container-box {
    display: block;
  }
  .contacts-main-container-box-left {
    width: 100%;
    height: auto;
  }
  .contact-image,
  .rotate-border {
    margin-top: 50px;
  }
  .contacts-main-container-box-right {
    width: 100%;
  }
  .rotate-box-border {
    display: none;
  }
}
@media (max-width: 480px) {
  .contact-image,
  .rotate-border {
    width: 250px;
    height: 250px;
  }
}
