.main-education-container {
    background:linear-gradient(30deg,rgb(35, 56, 40),rgb(50, 35, 61),rgb(56, 69, 93));
    width: 100%;
    height: auto;
  }
  .education-main-details-container {
    width: 100%;
    height: 100%;
  }
  
  .education-main-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
  }
  .educationicon {
    font-size: 50px;
    color: white;

  }
  .education-main-heading {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  .education-main-heading-abilities {
    color: rgb(255, 225, 0);
  }
  .education-main-paragraph-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
  }
  .education-main-paragraph-heading {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(255, 94, 0);
  }
  .education-main-show-container {
    width: auto;
    height: 550px;
  
    background:linear-gradient(150deg,rgb(35, 56, 40),rgb(50, 35, 61),rgb(56, 69, 93));
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .education-main-show-box-container {
    margin-top: 20px;
    width: 65%;
    height: auto;
  }
  
  .education-main-first-container {
    background:linear-gradient(200deg,rgb(59, 119, 72),rgb(68, 36, 65),rgb(73, 97, 144));
    height: 150px;
    width: 100%;
    transition: transform 1.5s;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .education-main-second-container {
    background:linear-gradient(200deg,rgb(59, 119, 72),rgb(68, 36, 65),rgb(73, 97, 144));
    height: 150px;
    width: 100%;
    transition: transform 1.5s;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .education-main-third-container {
    background:linear-gradient(200deg,rgb(59, 119, 72),rgb(68, 36, 65),rgb(73, 97, 144));
    height: 150px;
    width: 100%;
    transition: transform 1.5s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .education-main-first-container:hover {
    background:linear-gradient(200deg,rgb(59, 119, 72),rgb(68, 36, 65),rgb(73, 97, 144));
    height: 150px;
    width: 100%;
    z-index: 1;
    transform: scale(1.1);
  }
  .education-main-second-container:hover {
    background:linear-gradient(200deg,rgb(59, 119, 72),rgb(68, 36, 65),rgb(73, 97, 144));
    height: 150px;
    width: 100%;
    z-index: 1;
    transform: scale(1.1);
  }
  .education-main-third-container:hover {
    background:linear-gradient(200deg,rgb(59, 119, 72),rgb(68, 36, 65),rgb(73, 97, 144));
    height: 150px;
    width: 100%;
    z-index: 1;
    transform: scale(1.1);
  }
  
  .education-main-image-container {
    background:linear-gradient(200deg,rgb(119, 115, 59),rgb(36, 66, 68),rgb(73, 97, 144));
    height: 100%;
    width: 200px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .education-main-image-collagename-container {
    height: 100%;
    width: 80%;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .education-maincollagename-container {
    width: 90%;
    height: 100%;
  }
  .education-maincoursename {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    color: rgb(204, 255, 0);
  }
  .education-maincollagename {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    color: rgb(255, 162, 0);
  }
  .education-maincollageyear {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgb(0, 255, 0);
    font-weight: 700;
  }