.main-project-container {
  background: linear-gradient(
    300deg,
    rgb(35, 56, 40),
    rgb(50, 35, 61),
    rgb(56, 69, 93)
  );
  width: 100%;
  height: auto;
}
.project-main-details-container {
  width: 100%;
  height: 100%;
}

.project-main-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    130deg,
    rgb(35, 56, 40),
    rgb(50, 35, 61),
    rgb(56, 69, 93)
  );
}
.project-icon {
  font-size: 40px;
  color: white;
}
.project-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.project-text-made {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 238, 0);
}
.project-main-container {
  width: 100%;
  height: auto;
  background: linear-gradient(
    200deg,
    rgb(35, 56, 40),
    rgb(50, 35, 61),
    rgb(56, 69, 93)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-detail-container {
  position: relative;
  bottom: 68%;
  width: 100%;
  height: 200px;
}

.project-container {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 370px;
  height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.project-box {
  width: 100%;
  height: 100%;
  background-blend-mode: darken;
  border-radius: 20px;
  margin: 20px;
  cursor: default;
  box-shadow: 0px 0px 20px 2px rgb(0, 255, 221);
}
.heading-product {
  margin-left: 10px;
  color: rgb(254, 175, 5);
}
.project-discription {
  background-blend-mode: color-burn;
  background-blend-mode: darken;
  margin-left: 10px;
  margin-bottom: 10px;
    color: rgb(255, 0, 0);
  font-weight: 700;
}

.buttonlink {
  margin-left: 20px;
  border-radius: 20px;
  width: 140px;
  height: 45px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: rgb(255, 170, 0);
  box-shadow: 0px 0px 15px 4px rgba(0, 215, 255, 0.75);
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 215, 255, 0.75);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 215, 255, 0.75);
  color: white;
}

@media (max-width: 1350px) {
  .project-container {
    width: 350px;
    height: 250px;
  }
 
  
 
}


@media (max-width: 1000px) {
  .project-main-container {
    display: block;
  }
  .project-container {
    width: 100%;
    height: auto;
  }
  .project-box {
    width: 400px;
    height: 250px;
    margin-bottom: 30px;
  }
  .buttonlink {
    bottom: 145px;
  }
  .project-container{
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .project-text,.project-icon{
    font-size: 25px;
  }
  .project-icon{
    margin-left: 10px;
  }
}
